/* --------------------------------------------------------- */
/* ------------- Assignment For Lessons 57 - 64 ------------ */
/* --------------------------------------------------------- */

/* https://elzero.org/css-assignments-lesson-from-57-to-64/  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Assignment 01 */
.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, calc(95%/3));
  grid-template-rows: 40px 1fr;
  grid-gap: 20px;
}

.grid div {
  background-color: #607D8B;
  counter-increment: count;
}

.grid div::before {
  content: 'Element ' counter(count);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #EEE;
  font-weight: bolder;
}

/* Assignment 02 */
.layout {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4,(auto-fill,1fr));
  grid-template-rows: 50px 1fr 50px;
  /* grid-template: 50px 1fr 50px 50px / repeat(auto-fill,1fr);  */
  grid-template-areas: 
  'header header header header'
  'cont cont cont side'
  'footer footer footer footer';
}

header {
  background-color: #03A9F4;
  grid-area: header;
  padding: 15px;
} 

header::before {
  content: 'Header';
  color: #EEE;
}

section {
  background-color: #FF5722;
  grid-area: cont;
  padding: 15px;
}

section::before {
  content: 'Section';
  color: #EEE;
}

aside {
  background-color: #607D8B;
  grid-area: side;
  padding: 15px;
}

aside::before {
  content: 'Aside';
  color: #EEE;
}

footer {
  background-color: #009688;
  grid-area: footer;
  padding: 15px;
}

footer::before {
  content: 'Footer';
  color: #EEE;
}

/* Assignment 03 */
.grid-3{
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template: 1fr auto / auto repeat(2, 1fr) auto;  
  grid-gap: 20px;
}

.grid-3 div {
  background-color: #403F3F;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Assignment 04 */
.grid-4 {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(3,1fr);
  gap: 20px;
}

.grid-4 div {
  background-color: #2196F3;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one {
  /* grid-column: span 3; */
  /* order: 8; */
  grid-area: 6 / 1 / 6 /4; /* [row start / column start / row end / column end] */
}

.two {
  /* grid-column: span 2; */
  grid-area: 2 / 1 / 2 / 3;
}

.five {
  /* grid-column: 2 / span 2; */
  /* grid-row: span 3; */
  grid-area: 3 / 2 / 6 / 4;
}

.eight {
  /* grid-column: span 3; */
  /* order: -1; */
  grid-area: 1 / 1 / 1 / 4;
}

/* Assignment 05 */
.grid-5 {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 20px auto;
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
  gap: 20px;
  align-content: space-between;
}

.grid-5 div {
  background-color: #E91E63;
  text-align:center;
  color: #FFF;
}

/* Assignment 06 */
main {
  width: 1000px;
  /* height: 1000px; */
  padding: 20px ;
  margin: 20px auto;
  background-color: #EEE ;
  text-transform: capitalize;
  display: grid;
  /* grid-template: repeat(3, 1fr) auto / repeat(4, 1fr); */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(3, 1fr) auto; */
  gap: 10px;
}

main div {
  position: relative;
  padding: 20px;
  border-bottom: 5px solid #F08D49;
  /* overflow:hidden; */
  /* text-overflow: ellipsis; */ /* not working*/ 
}


main div::after {
  content: '"';
  position: absolute;
  font-size: 80px;
  font-style: italic;
  color: #AAA;
  right: 15px;
  bottom: -40px;
}

.white {
  background-color: #FFF;
}

.black {
  background-color: #000;
  color: #FFF;
}

h3 {
  margin-bottom: 5px;
}

h4 {
  color: #AAA;
}

.job-description {
  font-weight: bold;
  margin: 10px 0;
}

.osama-mohamed {
  grid-area: 1 / 1 / 1 / 3;
}

.shady-nabil {
  grid-area: 1 / 4 / 4 / 4;
}

.mohamed-ibrahim {
  grid-area: 2 / 1 / 4 / 1;
}

.mahmoud-mohamed {
  grid-area: 2 / 2 / 2 / 4;
}

.ezz-eldin {
  grid-area: 3 / 2 / 3 / 4;
}